<div class="container">
  <div class="card bg-light m-3">
    <article class="card-body mx-auto my-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Sign Up Form</h4>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-input
          *ngFor="let input of inputs"
          [iconClass]="input.iconClass"
          [name]="input.name"
          [placeholder]="input.placeholder"
          [type]="input.type"
          [formSubmitted]="formSubmitted"
        ></app-input>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Sign Up</button>
        </div>
      </form>
    </article>
  </div>
</div>
